#edit-form {
  width: 768px;
  margin: 50px auto 20px auto;
}

#edit-form ul {
  list-style: none;
  padding: 0;
}

#edit-form li {
  margin: 15px 0 15px 0;
}

#edit-form button[type=submit] {
  margin-top: 5px;
}

#edit-form ul li label, #edit-form ul li span {
  display: inline-block;
}

#bio {
  resize: vertical;
}
