.flash-container {
  min-width: 768px;
  width: 50%;
  margin: 0 auto;
  margin-top: -30px;
}

.flash {
  color: #f5f5f5;
  border: #ccc 1px dashed;
  display: block;
  padding: 10px;
  margin: 5px 0 5px 0;
}

.flash a {
  padding: 0 5px 0 5px;
}

.flash-error {
  color: #d00;
  border: #d00 1px dashed;
}

.flash-warning {
  color: #dd0;
  border: #dd0 1px dashed;
}

.flash-success {
  color: #0d0;
  border: #0d0 1px dashed;
}

.flash-primary {
  color: #00d;
  border: #00d 1px dashed;
}
