html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  background: #000;
  color: #31b79f;
}

.pure-g, body, .pure-g [class*=pure-u] {
    font-family: monospace !important;
}

a, a:link {
  color: #31b73f;
  text-decoration: none;
}

a:hover {
  border-bottom: #b7ab30 1px dashed;
  color: #b7ab30;
}

legend {
  color: #31b79f !important;
  border: none !important;
}

.pure-form input, .pure-form textarea, .pure-form select {
  background-color: #040404 !important;
  color: #31b79f !important;
}

#existing-cat {
  margin-bottom: 10px !important;
}

.post-form button {
  margin-top: 10px !important;
  display: block;
}

.users li, .posts li {
 margin-bottom: 20px;
}

.user-details li, .post-details li {
  margin: 0;
}

.users, .posts {
  list-style-type: none;
  padding-left: 15px;
}

.user-details, .post-details {
  padding-left: 15px;
}

table.pure-table {
  width: 100%;
}
