header {
  margin: 0 auto 50px auto;
}

header .logo-container {
  text-align: center;
  display: inline-block;
}

header pre {
  display: inline-block;
  padding: 0 30px;
  margin: 10px 0 10px 0;
}

header nav ul {
  list-style-type: none;
  padding: 0;
  margin: -20px 0 0 0;
}

header nav ul li {
  display: inline-block;

}

header nav ul li+li:before {
  content:"| ";
}
