.center {
  margin: 0 auto !important;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clear:after {
  content: "";
  display: table;
  clear: both;
}

.container {
  padding: 0 20px 20px 20px;
}

.container-center {
  min-width: 768px;
  width: 50%;
  margin: 0 auto;
}

.text-center {
  text-align: center;
  display: block;
}

.para h2 {
  text-align: center;
}

.para p {
  padding: 5px;
}
