{% extends "layout.html.jinja2" %}

{% block title %}
Home
{% endblock %}

{% block body %}
<div class="pure-g container-center">
  <div class="pure-u-1-2 para">
    <h2>what is zero-x?</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla cursus efficitur purus, feugiat molestie urna. Cras lectus arcu, euismod sed elementum id, rutrum sed justo. Praesent eros nulla, elementum sed mauris consectetur, mattis posuere est. Maecenas lacinia elementum diam at viverra. Nulla quis eros purus. Phasellus nec faucibus tortor, non tincidunt magna. Vivamus eget dignissim risus. Nam volutpat semper fringilla. Suspendisse sit amet ipsum vitae nunc congue semper. Curabitur in finibus velit, id eleifend nibh. Donec sit amet erat commodo, eleifend nunc a, rutrum mi. Duis consequat pharetra orci et feugiat. Quisque lorem massa, suscipit nec massa ac, egestas facilisis massa.</p>
  </div>
  <div class="pure-u-1-2 para">
    <h2>how can you help us?</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla cursus efficitur purus, feugiat molestie urna. Cras lectus arcu, euismod sed elementum id, rutrum sed justo. Praesent eros nulla, elementum sed mauris consectetur, mattis posuere est. Maecenas lacinia elementum diam at viverra. Nulla quis eros purus. Phasellus nec faucibus tortor, non tincidunt magna. Vivamus eget dignissim risus. Nam volutpat semper fringilla. Suspendisse sit amet ipsum vitae nunc congue semper. Curabitur in finibus velit, id eleifend nibh. Donec sit amet erat commodo, eleifend nunc a, rutrum mi. Duis consequat pharetra orci et feugiat. Quisque lorem massa, suscipit nec massa ac, egestas facilisis massa.</p>
  </div>
  <div class="pure-u-1 para">
  <h2>blog / news</h2>
  {% if user and user.rank.check_power("create_post") %}<div class="text-center"><a href="{{ url_for('create_post_form') }}" title="Create Post">make a post</a></div>{% endif %}
  {% if posts %}
    <ul class="posts">
    {% for post in posts %}
    <li>
      <h3>
        {{ post.title }}
      </h3>
      <p>{{ post.content }}</p>
      <ul class="post-details">
        <li>category: {{ post.category.name.lower() }}</li>
        <li>author: <span class="user" style="{{ post.author.style }}">{{ post.author.irc_nick }}</span></li>
        <li>post date: {{ post.pub_date.format("YYYY-MM-DD HH:mm:ss") }}</li>
        {% if user and user.rank.check_power("edit_post") and user.rank.check_power("delete_post") %}
          <li>
          actions:
          {% if user.rank.check_power("edit_post") %}<a href="{{ url_for('edit_post_form', post_id=post.post_id) }}" title="Edit Post">edit</a>{% endif %}
          {% if user.rank.check_power("delete_post") %}<a href="{{ url_for('delete_post_form', post_id=post.post_id) }}" title="Delete Post">delete</a>{% endif %}
          </li>
        {% endif %}
        </li>
      </ul>
    </li>
  {% endfor %}
    </ul>
  </div>
  {% else %}
  there is no news or posts.
  {% endif %}
  </div>
</div>
{% endblock %}
