<!doctype html>

<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/general.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/helpers.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/button.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/flash.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css">
    <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/grids-responsive-min.css">
    {% block style %}
    {% endblock %}
    <title>zero-x - {% block title %}{% endblock %}</title>
  </head>
  <body>
    <header>
    <div class="text-center">
      <pre>
  _______ _ __ ___           __  __
  |_  / _ \ '__/ _ \   _____  \ \/ /
  / /  __/ | | (_) | |_____|  >  <
  /___\___|_|  \___/          /_/\_\

  an irc network ran by a cat behind a keyboard 🐈
  _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _
      </pre>
      <nav>
        <ul>
          {% if "uuid" in session %}
          <li>welcome back, {{ user.irc_nick }}!</li>
          <li><a href="{{ url_for('index') }}">home</a></li>
          <li><a href="{{ url_for('user_list') }}">user list</a></li>
          <li><a href="{{ url_for('user_profile', irc_nick=user.irc_nick) }}">profile</a></li>
          <li><a href="{{ url_for('logout_form', uuid=user.uuid) }}">logout</a></li>
          {% else %}
          <li>
            <form class="pure-form" method="POST" action="{{ url_for('login') }}">
                <fieldset>
                    <input type="text" name="irc_nick" placeholder="irc nickname" required minlength=3 maxlength=16 pattern="[^\s]+">
                    <input type="password" name="password" placeholder="password" required minlength=6>
                    <button type="submit" class="pure-button button-zerox" title="Login">login</button>
                </fieldset>
            </form>
          </li>
          <li><a class="pure-button button-zerox" href="{{ url_for('register_form') }}" title="Register">register</a></li>
          {% endif %}
        </ul>
      </nav>
    </div>
    </header>

    {% with messages = get_flashed_messages(with_categories=True) %}
      {% if messages %}
        <div class="flash-container">
          {% for category, message in messages %}
            <div class="flash flash-{{ category }}">
              {{ message }}
            </div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}

    {% block body %}
    {% endblock %}
  </body>
</html>
