{% extends "layout.html.jinja2" %}

{% block title %}
Registration
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/edit_profile.css') }}">
{% endblock %}

{% block body %}
<div class="container-center">
<form id="edit-form" class="pure-form pure-form-stacked" method="POST" id="reg-form" action="{{ url_for("register") }}">
  <fieldset>
    <legend>registration</legend>

    <p>passwords are hashed using sha-512. please use a unique password for this site.</p>

    <ul>
      <li>
        <label for="irc_nick">irc nick</label>
        <span class="pure-form-message">required. must start with a letter and be at least 3 characters long.</span>
        <input class="pure-input-2-3" id="irc_nick" name="irc_nick" type="text" placeholder="" required pattern="^[a-z][a-z0-9-_]{2,32}$">
      </li>
      <li>
        <label for="email">email address</label>
        <span class="pure-form-message">optional, but if you provide one, please make sure it's valid.</span>
        <input class="pure-input-2-3" id="email" name="email" type="email" placeholder="">
      </li>
      <li>
        <label for="password">password</label>
        <span class="pure-form-message">required. passwords must be at least 8 characters.</span>
        <input class="pure-input-2-3" id="password" name="password" type="password" placeholder="" required minlength=8>
      </li>
    </ul>

    <button type="submit" class="pure-button button-zerox">register</button>
  </fieldset>
</form>
</div>
{% endblock %}
