{% extends "layout.html.jinja2" %}

{% block title %}
Editing your Profile
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/edit_profile.css') }}">
{% endblock %}

{% block body %}
<div class="container-center">
<form id="edit-form" class="pure-form pure-form-stacked" method="POST" action="{{ url_for("edit_profile") }}">
  <fieldset>
    <legend>editing your profile</legend>

    <ul>
      <li>
        <label for="irc_nick">irc nick</label>
        <span class="pure-form-message">required. must start with a letter and be at least 3 characters long.</span>
        <input class="pure-input-1" id="irc_nick" name="irc_nick" type="text" placeholder="IRC Nick" value="{{ user.irc_nick }}" required pattern="^[a-z][a-z0-9-_]{2,32}$">
      </li>
      <li>
        <label for="full_name">name</label>
        <span class="pure-form-message">optional. whatever people call you, or whatever you want to put here.</span>
        <input class="pure-input-1" id="full_name" name="full_name" type="text" value="{{ user.full_name }}" placeholder="Name" maxlength=64>
      </li>
      <li>
        <label for="pronouns">pronouns</label>
        <span class="pure-form-message">optional. please use a pronoun.is link.</span>
        <input class="pure-input-1" id="pronouns" name="pronouns" type="url" value="{{ user.pronouns }}" placeholder="https://pronoun.is">
      </li>
      <li>
        <label for="website">website</label>
        <span class="pure-form-message">optional.</span>
        <input class="pure-input-1" id="website" name="website" type="url" value="{{ user.website }}" placeholder="https://example.com">
      </li>
      <li>
        <label for="website">twitter</label>
        <span class="pure-form-message">optional.</span>
        <input class="pure-input-1" id="twitter" name="twitter" type="text" value="{{ user.twitter }}" placeholder="jack">
      </li>
      <li>
        <label for="email">email address</label>
        <span class="pure-form-message">optional. if you want to provide one at all, you can still do so here.</span>
        <input class="pure-input-1" id="email" name="email" type="email" placeholder="mail@example.com" value="{{ user.email }}">
      </li>
      <li>
        <label for="bio">bio</label>
        <span class="pure-form-message">optional. put extra aliases and other info here.</span>
        <textarea name="bio" id="bio" class="pure-input-1" placeholder="Bio">{{ user.bio }}</textarea>
      </li>
    </ul>

    <button type="submit" class="pure-button text-center center button-zerox">save changes</button>
  </fieldset>
</form>
</div>
{% endblock %}
