{% extends "layout.html.jinja2" %}

{% block title %}
User List
{% endblock %}

{% block body %}
<div class="container">
{% if users and "uuid" in session %}
<table class="pure-table pure-table-bordered">
  <thead>
    <tr>
      <th>irc nick</th>
      <th>name</th>
      <th>pronouns</th>
      <th>twitter</th>
      <th>website</th>
      <th>email</th>
      <th>rank</th>
    </tr>
  </thead>
  <tbody>
  {% for user in users %}
    <tr>
    <td><a href="{{ url_for("user_profile", irc_nick=user.irc_nick) }}">{{ user.irc_nick }}</td>
    <td>{{ user.full_name }}</td>
    <td><a href="{{ user.pronouns }}">{{ "/".join(user.pronouns.path.segments) }}</a></td>
    <td><a href="https://twitter.com/{{ user.twitter }}">{{ user.twitter }}</a></td>
    {% if user.website.netloc == None %}
    <td><a href="{{ user.website }}"></a></td>
    {% else %}
    <td><a href="{{ user.website }}">{{ user.website.netloc }}</a></td>
    {% endif %}
    <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
    <td>{{ user.rank.name.lower() }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endif %}
</div>
{% endblock %}
