{% extends "layout.html.jinja2" %}

{% block title %}
{{their_user.irc_nick}}'s profile
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
{% endblock %}

{% block body %}
<div class="container-center">
{% if their_user.full_name %}
<h2 class="text-center">{{ their_user.full_name }} - {{ their_user.irc_nick }} - {{ their_user.rank.name.lower() }}</h2>
{% else %}
<h2 class="text-center">{{ their_user.irc_nick }}</h2>
{% endif %}

{% if their_user.irc_nick == user.irc_nick %}
<div class="text-center"><a href="{{ url_for("edit_profile_form")}}">edit your profile</a></div>
{% endif %}

{% if their_user.bio or their_user.pronouns.netloc != None %}
<h3>about</h3>
{% if their_user.bio %}
<p>{{ their_user.bio }}</p>
{% endif %}
{% if their_user.pronouns.netloc != None %}<ul class="profile"><li>pronouns: <a href="{{ their_user.pronouns }}">{{ "/".join(user.pronouns.path.segments) }}</a></li></ul>{% endif %}
{% endif %}

{% if their_user.email or their_user.website.netloc != None or their_user.twitter %}
<h3>contact</h3>
<ul class="profile">
  {% if their_user.email %}<li>email: <a href="mailto:{{ their_user.email }}">{{ their_user.email }}</a></li>{% endif %}
  {% if their_user.website.netloc != None %}<li>website: <a href="{{ their_user.website }}">{{ their_user.website.netloc }}</a></li>{% endif %}
  {% if their_user.twitter %}<li>twitter: </span> <a href="https://twitter.com/{{ their_user.twitter }}">{{ their_user.twitter }}</a></li>{% endif %}
</ul>
{% endif %}
</div>
{% endblock %}
