{% extends "layout.html.jinja2" %}

{% block title %}New Post{% endblock %}

{% block body %}
<div class="container-center">
<div class="post-form">
  <form class="pure-form pure-form-stacked" method="POST" action="{{ url_for('create_post') }}">
      <legend>post creation</legend>

      <fieldset class="pure-group">
        <input name="title" type="text" class="pure-input-1" placeholder="post title">
        <textarea name="content" class="pure-input-1" placeholder="post content"></textarea>
      </fieldset>

      <select id="existing-cat" name="categories" class="pure-input-1-2 center">
          <option value="" hidden disabled selected>category</option>
          {% if categories %}
            {% for category in categories %}
              <option value="{{ category.name }}">{{ category.name.lower() }}</option>
            {% endfor %}
          {% endif %}
          <option value="other">new category</option>
      </select>

      <input id="new-cat" name="new_category" type="text" class="pure-input-1-2 center" placeholder="category">

    <button type="submit" class="pure-button button-zerox center">make post</button>
  </form>
</div>
</div>
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
  <script>
    $(function() {
      $("#new-cat").attr("type", "hidden");
    });
    $("#existing-cat").on('load change', function() {
      var cat = $(this).find(":selected").val();
      if(cat == "other") {
        $("#new-cat").attr("type", "text");
        $("#new-cat").attr("required", "true");
      } else {
        $("#new-cat").attr("type", "hidden");
        $("#new-cat").attr("required", "false");
      }
    });
  </script>
{% endblock %}
